a
  color: #000

h3, p, pre, ul
  margin: 30px 0

body
  font-family: georgia, serif
  font-size: 40px
  line-height: 1.3em

h1, h2, h3
  line-height: 1.2em

h1
  font-size: 80px

h2
  font-size: 70px

h3
  font-size: 40px

pre
  background: #f8f8f8
  border: 1px solid #ccc
  color: #000
  font-family: Monaco, 'Lucida Console', 'Bitstream Vera Sans Mono', Courier, monospace
  font-size: 18px
  padding: 8px 12px
  line-height: 1.8em
  text-align: left
  white-space: pre-wrap

strong
  font-weight: bold

ol, ul
  padding: 0 0 0 40px

  li
    padding: 0 0 0 8px
    text-align: left

  // don't give nested lists as much padding
  ol, ul
    margin: 0

ol
  list-style-type: decimal

ul
  list-style-type: disc

ul.notes
  list-style-type: none
  padding: 0

  li
    font-size: 24px
    line-height: 1.5em

//
// ----
//

.step
  position: relative
  margin: 20px auto

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.impress-enabled .step
  margin: 0
  opacity: 0.3

  -webkit-transition: opacity 1s
  -moz-transition: opacity 1s
  -ms-transition: opacity 1s
  -o-transition: opacity 1s
  transition: opacity 1s

.impress-enabled .step.active
  opacity: 1

.floating
  font-size: 40px
  padding: 40px
  text-align: center
  width: 720px

  h3
    font-size: 40px
    font-weight: bold

  p
    margin: 20px 0

.slide
  background-color: #efefef
  font-size: 30px
  padding: 40px
  width: 800px

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)

//
// ----
//

#title

#agenda

  h3
    text-align: left

#a-tale-of-composition

  h2
    text-align: right

#api-screenshot, #dashboard-screenshot, #manager-screenshot

  width: 800px

  -web-kit-border-radius: 30px
  -moz-border-radius: 30px
  -ms-border-radius: 30px
  -o-border-radius: 30px
  border-radius: 30px

#api-screenshot

  background-image: url("/assets/api.png")
  height: 558px

#butc

  h3
    font-size: 120px
    margin: 60px 0

#dashboard-screenshot

  background-image: url("/assets/dashboard.png")
  height: 708px

#manager-screenshot

  background-image: url("/assets/manager.png")
  height: 605px

#app-composition
  opacity: 1

  h2
    font-size: 80px
    text-align: center

#lessons-learnt

#about
  text-align: left

#overview
  display: none

/*
 * pointer to make other steps clickable
 */
.impress-on-overview .step
  opacity: 1
  cursor: pointer
