$serifs: georgia, serif
$sans_serifs: 'proxima-nova', "Lucida Grande", sans-serif

//
// ----
//

a
  color: #000

h3, p, pre, ul
  margin: 30px 0

body
  font-family: $serifs
  font-size: 40px
  line-height: 1.3em

h1, h2, h3
  line-height: 1.2em

h1
  font-size: 80px

h2
  font-size: 70px

h3
  font-family: $sans_serifs
  font-size: 40px

pre, code
  background: #f8f8f8
  border: 1px solid #ccc
  color: #000
  font-family: Monaco, 'Lucida Console', 'Bitstream Vera Sans Mono', Courier, monospace
  font-size: 18px
  padding: 8px 12px
  line-height: 1.8em
  text-align: left
  white-space: pre-wrap

strong
  font-weight: bold

ol, ul
  padding: 0 0 0 40px

  li
    padding: 0 0 0 8px
    text-align: left

  // don't give nested lists as much padding
  ol, ul
    margin: 0

ol
  list-style-type: decimal

ul
  list-style-type: disc

ul.notes
  list-style-type: none
  padding: 0

  li
    font-size: 24px
    line-height: 1.5em

ul.presenter-notes
  color: #369
  display: none
  font-size: 20px
  line-height: 1.2em
  text-align: left

//
// ----
//

.step
  position: relative
  margin: 20px auto

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.impress-enabled .step
  margin: 0
  opacity: 0.3

  -webkit-transition: opacity 1s
  -moz-transition: opacity 1s
  -ms-transition: opacity 1s
  -o-transition: opacity 1s
  transition: opacity 1s

.impress-enabled .step.active
  opacity: 1

.diagram
  font-family: "Lucida Grande", sans-serif

.floating
  font-size: 40px
  padding: 40px
  text-align: center
  width: 720px

  h3
    font-size: 40px
    font-weight: bold

  p
    margin: 20px 0

.slide
  background-color: #efefef
  font-size: 30px
  padding: 40px
  width: 800px

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)

//
// ----
//

#title

#title-2

  .troll
    font-family: $sans_serifs
    font-size: 30px

#title-3

  .redacted
    background: #000

#agenda

  h3
    text-align: left

#a-tale-of-composition

  h2
    color: #373
    font-family: cursive
    text-align: right

#api-screenshot, #dashboard-screenshot, #manager-screenshot

  width: 800px

  -web-kit-border-radius: 30px
  -moz-border-radius: 30px
  -ms-border-radius: 30px
  -o-border-radius: 30px
  border-radius: 30px

#api-screenshot

  background-image: url("/assets/api.png")
  height: 558px

#meet-core

  #growth-container

    .element-container
      float: left

      #small-core, #growth-arrow, #big-core
        display: table-cell
        height: 311px
        text-align: center
        vertical-align: middle

      #small-core
        width: 300px

      #growth-arrow
        font-size: 60px
        width: 120px

      #big-core
        width: 300px

#butc

  h3
    font-family: $serifs
    font-size: 160px
    margin: 30px 0

#introducing-dashboard

  h3
    font-family: $serifs

#dashboard-screenshot

  background-image: url("/assets/dashboard.png")
  height: 708px

#metrics

  .plus
    color: #0a0

  .minus
    color: #a00

#equation

  #equation-container

    .element-container
      float: left

      #big, #equals, #small, #plus, #smaller
        display: table-cell
        height: 400px
        text-align: center
        vertical-align: middle

      #equals, #plus
        font-size: 60px
        width: 100px

      #big
        width: 240px

      #small
        width: 100px

      #smaller
        width: 180px

#heroku-manager

  h3
    font-family: $serifs

#manager-screenshot

  background-image: url("/assets/manager.png")
  height: 605px

#deeper-composition

  #tier-container
    float: right
    margin-left: 30px

    #tier1, #tier2, #tier3
      background: #fff
      border: 1px solid #cecece
      height: 70px
      padding: 15px 0 0 0
      text-align: center
      width: 220px

    #tier1, #tier2
      background: #bbddff

    #tier2, #tier3
      border-top: 0

    #tier3
      background: #ddeeff

#reusable-api

  #tier-container

    #consumer, #api
      background: #fff
      border: 1px solid #cecece
      height: 70px
      padding: 15px 0 0 0
      text-align: center
      vertical-align: middle

    #consumer
      background: #bbddff
      float: left
      width: 33%

    #api
      background: #ddeeff
      border-top: 0
      clear: both

#app-composition
  opacity: 1

  h2
    font-size: 80px
    text-align: center

#composability

  p
    text-align: center

  .layer
    border: 1px solid #cecece
    background: #ddeeff
    display: block
    font-family: $sans_serifs
    font-size: 40px
    padding: 10px

#not-a-new-idea

  .publication
    font-family: $sans_serifs
    font-size: 30px
    line-height: 1.2em

  .year
    font-size: 100px

#misfloat

  p
    position: absolute
    font-size: 50px

  #backend-people
    right: 0
    top: 18px

  #think-about-floats
    font-size: 60px
    right: -60px
    top: 90px

#organization

  .people
    font-size: 50px

    .arrow
      color: #888

    .backend

    .designer
      color: #336699

    .frontend
      color: #22a

    .team
      background: #ddeeff
      border: #ccc solid 2px
      padding: 4px 12px 10px 12px

      -web-kit-border-radius: 15px
      -moz-border-radius: 15px
      -ms-border-radius: 15px
      -o-border-radius: 15px
      border-radius: 15px

#lessons-learnt

#about
  text-align: left

  h3
    font-family: $serifs

#overview
  display: none

/*
 * pointer to make other steps clickable
 */
.impress-on-overview .step
  opacity: 1
  cursor: pointer
